*.iml
.gradle
/local.properties
/.idea/
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Build outputs
**/build/
**/release/

# Junk and unwanted files
.vscode/
.kotlin/
.gradle/
RELEASE_NOTES_v2.0.0.md
